/* --------------------------------------------
修改spin加载动画样式
---------------------------------------------*/
.ivu-spin {
    background-color: rgba(255, 255, 255, 0.2);
}

.ivu-input-no-border {
    background: transparent;
    color: #FFFFFF;
    font-size: 0.18rem;
    height: 100%;
}
